# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
.env/

# Data files (IGNORE THESE)
data/raw/
*.csv
*.xlsx
*.json
*.pdf
*.jsonl
*.png

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Selenium downloads/temp
downloads/

# JSON data
out/

